/* Color Palette
#AE2647 - color 1
#bf437f - color 2
#bf4398 - color 3
#9F3B7B & #5d42b3 - color 4 & 5 used together for footer
*/


/* Global styles 
------------------------------------*/
body {
    background: #FF98BB; /* I like the solid pink background color. Tried to make it with the gradient too, didn't look good contrast wise. */
    color: #162941;
    font-family: "Bentham", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Italianno", cursive;
    font-weight: 900;
    font-style: normal;
    font-size: xx-large;
    line-height: 1em;
}

h3 {
    font-family: "Bentham", serif;
    font-weight: 700;
    font-style: normal;
    line-height: 0;
}

/*.bentham-regular {
  font-family: "Bentham", serif;
  font-weight: 400;
  font-style: normal;
}

.italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}*/



/* Header & Footer 
------------------------------------*/
header {
    background: linear-gradient(#AE2647, #bf437f); /* #AE2647 is the main color for header, but I didn't like all the colors by themselves, they just looked bad as random blocks of color on the page, so I decided to do a gradient. I like how this looks much better. */
    /*margin-top: 0;
    margin-bottom: -20px;*/
}

h1 {
    text-align: center;
    font-family: "Bentham", serif;
}

footer {
    text-align: center;
    background: linear-gradient(#9F3B7B, #5d42b3); /* #9F3B7B & #5d42b3 */
}

a {
    color: #f472b6;
}

a:hover {
    color: #9583FE;
}

#diff-color { /* I liked how the color looked here only, so it got it's own id */
    color:aliceblue;
}


/* Work Experience
------------------------------------*/
#work-exp {
    background: linear-gradient(#bf437f, #bf4398); /* #bf437f is the main color, it transitions into the next sections main color */
    /*margin-top: 20px;
    margin-bottom: 0;*/
}

.bold {
    font-weight: 700; /* bold - could have used bold keyword */
}


/* Education
------------------------------------*/
#edu {
    background: linear-gradient(#bf4398, #9F3B7B);/* #bf4398 is the main color, tranistions into the first color of the footer */
    /*margin-top: -20px;
    margin-bottom: -10px;*/
}
